Source: dlogcover
Maintainer: eric2023 <eric2023@163.com>
Section: devel
Priority: optional
Build-Depends: debhelper-compat (=13),
               cmake (>= 3.10),
               g++,
               golang-go (>= 1.15),
               libclang-dev,
               llvm-dev,
               libgtest-dev,
               nlohmann-json3-dev
Standards-Version: 4.5.0

Package: dlogcover
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libllvm13
Description: DLogCover - A tool for analyzing log coverage in code.
 DLogCover is a comprehensive static analysis tool designed to measure
 and report on the coverage of logging statements within C++ and Go
 source code. It helps developers ensure critical code paths are
 adequately logged for debugging and monitoring purposes. 